body{
    background: #f5f5f5;
    color: #444;
    font-family: 'Lato', 'san-serif';
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    background: url(img/DH.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 5px;
  }
   
::-webkit-scrollbar-track {
    background: #ddd;
  }
   
::-webkit-scrollbar-thumb {
    background: #666; 
  }

.overlay {
    width: 100%;
    min-height: 100%;
    display: flex;
}
section#step{
    background: #fff;
    border-radius: 8px;
    margin: auto;
}

.step-head {
    background: #4285f4;
    color: #fff;
    padding: 8px;
    margin: 0 -20px;
}

.card-body{
    overflow: visible;
}

.progress{
    border-radius: 0;
}